.body{
    background-color: rgb(102, 84, 95);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1{
    text-shadow: 3px 3px 1px lightgrey; 
}
#addObject{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px double black;
}
span{
    position: relative;
    bottom: 25px;
}
img{
    width: 50px;
    cursor: pointer;
    border: 2px solid blue;
}
.inventory{
    border: 5px solid black;
    margin-left: 30px;    
}
#inventoryList{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.quantity{
    border: 2px dotted black;
    opacity: 0%;
}
.object{
    width: 30px;
    height: 30px;
    border: px solid black;
}
#item1div{
    padding: 0px;
    margin:0px;
    align-items: left;
    border-style: solid;
    cursor: pointer;
    width: 200px;
    border-style: solid;
    border-color: rgb(70, 115, 115);
    place-self: right;
    text-align: left;
    font-size: 16px;
    color: black;
}
#inventoryImgs{
    width: 20px;
    border: 1px;
}